/* body { margin: 0; } */
CarCanvas { width: 100%; height:100%; }

.title{
position: absolute;
left:35%;
top:20%;
color:white;
font-size: 3em;
}

.display-4 {
font-size: 3.5rem;
font-weight: 300;
line-height: 1.2;  
color:white;
}

.bg-dark {
    background-color:#3e567c!important; 
} 

.bg-white{
background-color:white; 
opacity: 0.8;
}

.background-image{
background-image: url("../img/swift.jpg");
height:520px;
}

.border-white{
border-bottom:solid 3px;
border-color:white;  
}
.pos-jumbo{
margin-top:20px;
opacity: 0.8;
}

/* .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 10%;
} */

/* .navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.8rem;
    line-height: inherit;
    white-space: nowrap;
} */